.form {
    display: block;
    margin: 40px auto 0 auto;
    padding: 20px;
    width: 50%;
    backdrop-filter: blur(10px);
    background: #e5cf78;
    border-radius: 20px;
    label {
        color: #000;
        font-family: var(--font-museoMono);
        span {
            color: red;
        }
    }
    input, textarea {
        margin-bottom: 10px;
        &:focus-within {
            outline: 2px solid var(--mantine-color-blue-filled);
            border-color: transparent;
          }
    }
    p {
        color: #861717;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    &__input {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }

    &__btn {
        width: 100%;
        &:disabled {
            opacity: .6;
            cursor: not-allowed;
        }
    }

}

@media (max-width: 992px) and (min-width: 320px) and (orientation: portrait) {
    .form {
        width: 60% !important; 
    }
}

@media (max-width: 992px) and (min-width: 320px) and (orientation: landscape) {
    .form {
        width: 70% !important; 
    }
}


@media (max-width: 768px) and (min-width: 320px) and (orientation: portrait) {
    .form {
        width: 80% !important;
        &__input {
            flex-direction: column;
            align-items: stretch; 
        }
    }
}

@media (max-width: 768px) and (min-width: 320px) and (orientation: landscape) {
    .form {
        width: 80% !important;
        &__input {
            flex-direction: column;
            align-items: stretch; 
        }
    }
}

@media (max-width: 420px) and (min-width: 320px) {
    .form {
        width: 90%; 
    }
}