@use './media/products' as productMedia;
@use './mixins/mixins' as product;

.products {
    min-height: calc(100vh - 30px);
    padding: 30px 20px 30px 20px;
    margin-top: 230px;
    position: relative;
    z-index: 2;
    background: linear-gradient(135deg, #ffcc00, #ffa500);

    & .productscontainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 200px) minmax(240px, 1fr) minmax(100px, 200px));
        grid-template-rows: minmax(200px, auto);
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px 20px;

        & .categories, .info {
            @include product.categories();
        }

        & .articles {
            h1 {
                text-align: center;
                font-size: 35px;
                font-family: var(--font-museoBold);
            }
            .articlefilter {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                .totalarticle  {
                    font-size: 20px;
                    font-family: var(--font-museoMono);
                    color: #d65d07;
                }
    
            }
            #container {
                width: 100%;

                .view {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    margin-top: 10px;

                    .viewTitle {
                        font-size: 20px;
                        font-family: var(--font-museoBold);
                        &.mobile {
                            display: none;
                        }
                    }

                    .viewBtn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: inherit;
                        padding: 5px;
                        border: 1px dotted #000;
                        i {
                            font-size: 28px;
                            &.active {
                                color: red;
                            }
                        }

                        &.mobile {
                            display: none;
                        }
                    }
                }

                // Vertical original view grid
                .articlescontainer {
                    @include product.container(grid);
                    
                    .content, .outstock {
                        @include product.card(column, 100%, 0, none, 330px);
                        .image {
                            a {
                                display: block;
                                img {
                                    @include product.image(10px auto 0 auto);
                                }
                            }
                        }
                        .description {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            padding: 10px 18px;
                            gap: 16px;
    
                            .sort {
                                text-align: center;
                                font-size: 20px;
                                font-family: var(--font-museoBold);
                                margin-top: 10px;
                                color: #000;
                            }
                            .descr, .price, .qnt, .stock, .empty {
                                display: block;
                                color: #000;
                                font-family:  var(--font-museoBold);
                                transition: all 0.3s ease;
                            }
                            .descr {
                                height: 50px;
                            }
                            .rating {
                                display: flex;
                                align-items: center;
                                gap: 12px;
                                transition: all 0.3s ease;
                            }
        
                            .descr, .qnt {
                                @include product.link_hover
                            }
        
                            & .stock, & .empty {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                font-family: var(--font-museoBold);
                                color: green;
                                .indicator {
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 10px;
                                    background-color: green;
                                }
                            }
        
                            .empty {
                                color: red;
                                .indicator {
                                    background-color: red;
                                }
                            }
        
                            & .checkOut, .outstockbtn {
                                display: block;
                                padding: 10px 10px;
                                border: 2px dotted red;
                                border-radius: 20px;
                                margin: 20px 10px 10px 10px;
                                text-align: center;
                                background: wheat;
                                color: #000;
                                font-family: var(--font-museoMono);
                                transition: all 0.5s;
                                &::after {
                                    font-size: 16px;
                                    font-family: var(--font-museoMono);
                                }
                                &:hover {
                                    color: white;
                                    background: rgba(1, 145, 61, 0.962); 
                                }
        
                                &:active {
                                    transform: translateY(12px);
                                }
                            }
        
                            .outstockbtn {
                                font-size: 0px;
                                border: 2px dotted black;
                                background: red;
                                transition: all 0.5s;
                                &::after {
                                    content: 'Out Of Stock';
                                }
                                &:hover::after {
                                    content: 'More Information';
                                }
                            }
                        }
                        &:hover:not(.outstock) {
                            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
                        }  
                    }
                    
                    //Horizontal View flex
                    &.listViewHorizontal {
                        @include product.container(flex);
    
                        .content, .outstock {
                            @include product.card(row, 48%, 19px, 355px, 0px); 
    
                            .image {
                                align-self: center;
                                a {
                                    display: block;
                                    height: 50%;
                                    margin-left: 12px;
                                    img {
                                        max-height: 0;
                                        @include product.image(0)
                                    }
                                }
                            }
                        }
                        .outstock {
                            box-shadow: rgba(247, 2, 2, 0.35) 0px 22px 85px 4px;
                        }
    
                    }
                    .outstock {
                        box-shadow: rgba(247, 2, 2, 0.35) 0px 22px 85px 4px;
                    }
                }
            }

            .nodata {
                text-align: center;
                margin-top: 30px;
                color: #000;
            }
        }
    }

    .info {
        @include product.info();
    }
}

@include productMedia.product-query;