.arrowup {
    opacity: 0;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 2;
    transition: opacity .3s;
    img {
        color: transparent;
        width: 100%;
        background: #ffff;
        border-radius: 100%;
        border: 1px dotted #ffff;
    }
    &.show {
        opacity: 1;
    }
}